.icon-thumbup {
  height: 1em;
  width: 1em;
  position: relative;
  overflow: visible;
  cursor: pointer;
  transition: transform .3s;
}

.icon-thumbup:before {
  content: '';
  position: absolute;
  background-image: url('thumbup.svg');
  background-repeat: no-repeat;
  background-size: 3000%;
  background-position: 0;
  height: 2em;
  width: 2em;
  left: -.5em;
  top: -.5em;
}

.icon-thumbup:hover{
  transform: scale(1.2);
}

.icon-thumbup.active:before {
  transition: background-position 1s steps(29);
  background-position: 100%;
}